params {
    sample_id         = 'test_sample'
    skip_basecalling  = true
    skip_functional   = true
    skip_diversity    = true
    skip_lefse        = true
    skip_maaslin2     = true
    skip_visualization = true
    min_quality       = 7
    min_length        = 200
    max_cpus          = 4
    max_memory        = '8.GB'
}
